# Pycharm
.idea/*
# Provided default Pycharm Run/Debug Configurations should be tracked by git
# In case of local modifications made by Pycharm, use update-index command
# for each changed file, like this:
# git update-index --assume-unchanged .idea/giaola.iml
#!.idea/runConfigurations/
#!.idea/giaola.iml
#!.idea/vcs.xml
#!.idea/webResources.xml